<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.parviainen.wheeelaccessibility">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TalkBackSettings">

        <service android:name=".WheeelAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:canRetrieveWindowContent="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

    </application>





</manifest>
